/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

/*заголовки цвет color: #212121;*/
/*абзацы цвет текста color: #757575;*/
/*основной акцент color: #2196F3;*/
/* вторичный цвет фона #F5F4FA */
/*в футере (+чем мы занимаемся) основной  color: #FFFFFF;*/
/*цвет ссылок в футере color: rgba(255, 255, 255, 0.6);*/
/*футер футера text color: rgba(255, 255, 255, 0.4);*/
/*footer background #2F303A;*/
/* conteiner width 1200 */
/* gutter 30 */

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-background-main-color: rgba(255, 255, 255, 0.6);
  --link-in-footer-color: rgba(255, 255, 255, 0.6);
  --footer-footer-color: rgba(255, 255, 255, 0.4);
  --white-color: #ffffff;
  --footer-background: #2f303a;
  --sec-bg-color: #f5f4fa;
}
/* Логический заголовок */
.visually-hidden,
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*оформление списков*/
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.page {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}
.section.sec-bg-color {
  background-color: var(--sec-bg-color);
}

/*ссылка без подчекркивания*/
/*a {
  text-decoration: none;
  color: inherit;
}*/

/* Header */
.main-nav {
  display: flex;
  align-items: center;
}
/*logo*/
.logo {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo,
.footer-logo {
  --color1: #2196f3;
  --color2: #ffffff;
  --color3: #000000;
}
.logo-blue {
  color: var(--color1);
}
.logo-black {
  color: var(--color3);
}
.logo-white {
  color: var(--color2);
}

.logo:hover,
.logo:focus {
  --color1: #000000;
  --color3: #2196f3;
}

.footer-logo:hover,
.footer-logo:focus {
  --color1: #ffffff;
  --color2: #2196f3;
}

.link-in-footer:hover,
.link-in-footer:focus {
  color: var(--accent-color);
}

/*nav*/

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
  list-style: none;
  margin-left: 85px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .item {
  display: flex;
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}

.icon-nav:hover,
.icon-nav:focus {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/*footer*/
.container.footer-content {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.join {
  margin-left: 69px;
}
.subscription {
  margin-left: auto;
}
.footer {
  background-color: var(--footer-background);
}
.address {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
}
.link-in-footer {
  color: var(--link-in-footer-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer-list-title {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.email {
  display: block;
  width: 358px;
  height: 50px;
  padding: 18px 12px;
  margin-right: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.sub-field {
  display: flex;
  flex-direction: row;
}
.icon-send {
  fill: currentColor;
  margin-left: 10px;
}

.button.send {
  display: flex;
  align-items: center;
}

/* .copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 21px;
  padding-top: 18px;

  color: var(--footer-footer-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  border-top:  1px solid rgba(255, 255, 255, 0.1);
} */

/* img */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Стили для index.html*/

/*hero*/
.hero {
  width: 775px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* .button-hero {
  display: inline-flex;
} */
.overlay {
  min-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*Кнопка*/
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: var(--accent-color);
  background-color: var(--white-color);
}

/*модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;

  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.form-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.agreement {
  font-size: 14px;
  line-height: 171%;
  color: var(--main-text-color);
}
.modal-link {
  color: var(--accent-color);
}
.form-field {
  position: relative;
  margin-bottom: 28px;
  margin-left: 40px;
  margin-right: 40px;
}
.form-field.bottom {
  position: relative;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input {
  width: 100%;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
}
.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(42px, 12px);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(16px, 11px);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-input:hover ~ .form-icon, */
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}
.form-comment {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 16px 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.comment {
  height: 120px;
}
.modal-submit {
  margin-bottom: 40px;
  margin-left: 164px;
  margin-right: 164px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.modal-submit:hover {
  background-color: #188ce8;
  color: white;
}

.form-input:focus + .form-label,
.form-comment:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label,
.form-comment:not(:placeholder-shown) + .form-label {
  transform: translate(16px, -19px);
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*svg close*/
.close {
  fill: rgb(0, 0, 0);
  position: absolute;
  transform: translate(-8px, 8px);
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  fill: var(--accent-color);
}

/*checkbox*/
.agreement::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(3px);
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox:checked + .agreement::after {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-clip: contain;
  background-origin: border-box;
}

/*section*/
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.no-padding-bottom {
  padding-bottom: 0;
}
/*features*/
.features {
  display: flex;
}
.features-item {
  margin-right: 30px;
}

.features :last-child {
  margin-right: 0;
}

.features img {
  display: inline-block;
  margin-bottom: 30px;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 0;
  background-color: var(--sec-bg-color);
  border-radius: 4px;
}

/*чем мы занимаемся*/
.item.example {
  position: relative;
  z-index: -1;
}

.projects {
  display: flex;
}
.projects > .item {
  position: relative;
  margin-right: 30px;
}
.projects > .item:last-child {
  margin-right: 0;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  text-align: center;
  text-transform: uppercase;
}

/*наша команда*/

.team {
  display: flex;
}
.team-card {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team > .item {
  margin-right: 30px;
  /* margin-bottom: 94px; */
  background-color: #fff;
}
.team > .item:last-child {
  margin-right: 0;
}

/* social-networks */
.icon-social-networks {
  width: 20px;
  height: 20px;
}
.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-bg-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-bg:hover,
.icon-bg:focus,
.icon-bg-footer:hover {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks > .icon-bg {
  margin-right: 10px;
}
.social-networks > .icon-bg:last-child {
  margin-right: 0;
}
.section-subtitle {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-text {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.content {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

/* Clients */
.clients {
  display: flex;
}

.clients .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: #afb1b8;
}
.icon-client {
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients > .item :last-child {
  margin-right: 0;
}
.client-logo :hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.icon-client:hover {
  border: none;
}
/*Стили для Портфолио*/

.filter-list {
  display: flex;
  justify-content: center;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  /* outline: 1px solid red; */
}

.filter-list-item:not(:first-child) {
  margin-left: 8px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.flex-element:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-foto {
  position: relative;
}

.card-content {
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 4px;
}
/* .flex-element .list-title {
  margin-top: 20px;
} */
.slide-description {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0;
}
.slide-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  opacity: 0;

  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  text-decoration: none;
  background: rgba(33, 150, 243, 0.9);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-foto {
  position: relative;
  overflow: hidden;
}

.flex-element:hover .slide-text {
  opacity: 1;
  transform: translateY(0);
}

.none {
  text-decoration: none;
}
.button-portfolio {
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
